@import url(//fonts.googleapis.com/css?family=Rubik:400,500);
@import url(//fonts.googleapis.com/icon?family=Material+Icons);

body, html {
  height: 100%;
  margin: 0 auto;
  font-size: 14px;
  font-family: Rubik,Helvetica,sans-serif;
  font-weight: 400;
  /** smooth scrolling on mobile devices **/
  -webkit-overflow-scrolling: touch;
}

/**
  Header
  **/

.title {
  font-weight: 500;
}

spinner {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 10;
}

.loadingProgress {
  visibility: hidden;
}

md-progress-linear {
  height: 2px;
}

md-progress-linear .md-bar {
}

md-progress-linear .md-container {
  height: 2px;
}

md-progress-linear .md-container .md-bar {
  height: 2px;
}

md-toolbar {
  min-height: 50px;
}

.md-toolbar-tools {
  font-size: 14px;
  height: 50px;
  max-height: 50px;
}

button.md-button.md-icon-button, a.md-button.md-icon-button {
  margin-left: 8px;
  padding: 0;
}

button.md-raised:not([disabled]):hover {
  margin-top: 2px;
  transition: all 0.25s ease;
}

.button-small {
  margin-left: 4px !important;
  margin-right: 4px !important;
  line-height: 24px !important;
  width: 24px !important;
  min-height: 24px !important;
  height: 24px !important;
}

.button-small md-icon {
  font-size: 20px !important;
}

.button-small md-icon:hover {
  color: black !important;
}

a.md-icon-button md-icon {
  margin-top: 6px;
}

md-icon {
  line-height: 28px;
  width: 28px;
  height: 28px;
  font-size: 28px !important;
}

md-switch {
  margin: 0;
}

/**
  Container
  **/

.wrapper {
  overflow: hidden;
}

.wrapper > div {
  padding-left: 40px;
  padding-right: 40px;
}

/** Common **/

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 500;
  border-bottom: 1px solid;
  padding-bottom: 4px;
  font-size: 14px;
  margin-bottom: 20px;
}

h4 {
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

/**
 *
 */

.endpoints {
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 20px;
}

.endpoint-container {
  font-size: 14px;
}

.endpoint-row {
  min-height: 150px;
  height: 150px;
  padding: 10px;
  padding-bottom: 5px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.endpoint-information {
  overflow: hidden;
  margin-right: 10px;
  width: 190px;
}

.endpoint-information.ng-enter {
  background-color: rgb(247, 203, 89);
  transition: all 5s ease;
}

.endpoint-information.ng-enter-active {
  background-color: inherit;
}

.endpoint-title {
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #eef0ef;
  padding-bottom: 5px;
  margin-bottom: 5px;
  white-space: nowrap;
}

.endpoint-icon {
  height: 30px;
  text-align: center;
}

.endpoint-actions {
  border-top: 1px solid #eef0ef;
  margin-top: 5px;
  padding-top: 5px;
}

.endpoint-results-container {
}

.endpoint-results {
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #fafafa;
}

.result {
  /*position: absolute;
  top: 50%;*/
  display: inline-flex;
  width: 20px !important;
  height: 20px !important;
  min-width: 20px !important;
  min-height: 20px !important;
  font-size: 20px !important;
  margin-right: 10px;
}

.result-status md-icon {
  color: rgb(252, 81, 81) !important;
}

.result-status--666 md-icon {
  color: black !important;
}

.result-status- md-icon {
  color: #cdcdcd !important;
}

.result-status-200 md-icon {
  color: rgb(86, 180, 67) !important;
}

.disabled {
  opacity: 0.5;
}

/**
 * Endpoint form
 */

.icon-choice-container {
  margin-top: 9px;
  margin-right: 20px;
  margin-bottom: 18px;
}

.icon-choice-container > img {
  max-width: 150px;
  outline: none;
}

/**
 * footer
 */

.footer {
  z-index: 50;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.interval-container {
  margin-right: 20px;
}

md-input-container.interval {
  margin: 0;
}

md-input-container.interval input {
  width: 50px;
  text-align: right;
}

md-input-container.interval div.md-errors-spacer {
  display: none;
}
